.box{
  height:200px;
  background: yellow;
  width: 200px;
  border: 1px solid black;
}

/* Color palette */

:root {
  --dark-cream: #ffdd99;
  --pale-grey: #e7f1f8;
  --darkish-pink: #d74680;
  --denim-blue: #3c5499;
  --topaz: #17c2a4;
  --white: #ffffff;
  --purplish: #87509c;
  --dark-slate-blue: #273a71;
  --denim-blue-two: #344b8e;
  --beige: #f7f3ea;
  --warm-grey: #878787;
  --dark-sky-blue: #30bae7;
  --dusty-orange: #eb7d4b;
  --topaz-two: #15c7a8;
  --pale-grey-two: #dfe8ed;
  --dusk: #3c4761;
  --black: #393939;
  --cool-blue: #487fbc;
  --navy-blue: #00234a;
  --light-blue-grey: #bedae8;
  --warm-grey-two: #787878;
  --light-blue-grey-two: #daeaf2;
  --golden-rod: #f1c40f;
  --squash: #f39c12;
  --salmon: #f57b71;
  --pale-red: #d84848;
  --black-two: #000000;
  --dark: #27283d;
  --blush: #e88f8d;
  --dusty-blue: #5d70a9;
  --brick: #aa1f1f;
  --sand: #e5c37f;
  --lightblue: #5ad2eb;
  --flat-blue: #3a6da5;
  --cloudy-blue: #bdd1df;
  --pinkish: #d97475;
  --pale-peach: #ffecba;
  --coral: #ff4444;
}
*{
  font-family: TitilliumWeb;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 0.4px;
}
  
.header {
    color: white;
    background-color:  #87509c;
}
nav.navbar{
  padding-bottom:156px;
}
.navbar-st{
  margin-top:60px;
  padding-bottom:156px;
  font-size: 16px;
}
#header-h1 {
  padding-bottom: 54px;
 font-size: 42.4px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
}

.button{
  width: 293px;
  height: 70px;
  border-radius: 4px;
  color:white;
  font-size: 17.5px;
  font-weight: 600;
  margin-bottom:110px;
  margin-top:60px;
}
.
.underbutton{
;
margin-bottom:145px;
}
.button-1{
  background-color: #eb7d4b;
  background-color: var(--dusty-orange);
  border-bottom: 4px solid #b26a44;
}
.services{
  background-color: #17c2a4;
  background-color: var(--topaz);
  color:white;
  text-align:center;
}
#h2-pad {
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: 4px;
  text-align: center;
  margin-top:119px;
  padding-bottom:21px;
}
.Line {
  display: flex;
  width: 87px;
  height: 4px;
  opacity: 0.15;
  background-color: var(--black-two);
  border-bottom: 4px solid #b26a44;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:32px;
}
.ser-p{
  text-align: center;
  padding-bottom:80px;
}
.branding-s{
  font-size: 24px;
  font-weight: bold;
  line-height: 0.75;
  letter-spacing: 0.5px;
  padding-bottom:27px;
}
.branding-text{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.3px;
  padding-bottom:128px;
}
.portfolio {
  background-color: #ffdd99;
  background-color: var(--dark-cream);
  text-align:center;
}
.portfolio-h{
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: 4px;
  margin-top:120px;
  margin-bottom:21px;
}
.line-portfolio {
   width: 87px;
  height: 4px;
  background-color: var(--sand);
  border-bottom: 4px solid #e5c37f;
  margin-left: auto;
  margin-right: auto;
  margin-top:21px;
  margin-bottom:23px;
}
.portfolio-p{
 padding-bottom:42px;
}
#nav-s{
  background-color: #ffdd99;
  background-color: var(--dark-cream);
  line-height: 1.11;
  letter-spacing: 0;
  color:black;
  text-transform: uppercase;
  margin-bottom:62px;
}
#portfolio-but{
  width: 293px;
  height: 70px;
  border-radius: 4px;
  background-color: #17c2a4;
  background-color: var(--topaz);
  margin-top:83px;
  margin-bottom:109px;
  font-size: 17.5px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.3px;
  color:white;
  border-bottom: 4px solid #17c2a4;
}
.getintouch {
   background-color: #3c5499;
  background-color: var(--denim-blue);
  color:white;
}
.git-h{
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: 4px;
  text-align: center;
  padding-top:120px;
  padding-bottom:21px;
}
.git-p{
  text-align: center;
  margin-bottom:76px;
}
.git-line {
  width: 87px;
  height: 4px;
  background-color: var(--dark-slate-blue);
  border-bottom: 4px solid #273a71;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:32px;
}
#example-text-input{
  background-color: #273a71;
  background-color: var(--dark-slate-blue);
  color:white;
}
.button-3{
  background-color: #30bae7;
  background-color: var(--dark-sky-blue);
  border-bottom: 4px solid #30bae7;
}
.flex{
  display:flex;
  justify-content:center;
}
.footer-main{
  background-color: #344b8e;
  background-color: var(--denim-blue-two);
  
}


